body {
    font-family: "Montserrat"
}

/*
#title{
    background-color: #ff4c68;  //we don't need it now, we have colored and white section
    color:white;
}*/

.heading {
    font-size: 60px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6{      /*combining selector*/
    font-weight: bolder;
}

.container-fluid{
    padding: 3% 15% 7%
}

/*sections*/
.white-section{
    background-color: white;
}

.colored-section{
    color:white;
    background-color: #ff4c68;
}
/* Navigation Bar*/

.navbar{
    padding:4.5rem 0;
}
.navbar-brand{
    font-size : 2.5rem;
}

.nav-item{
    padding : 0 18px;
    /*font-family: 'Montserat-Light';
    font-size: 1.2rem;*/
}

.nav-link{
    font-size: 1rem;
}


/*download buttons*/
.download-button{
    margin: 5% 3% 5% 0;
}

.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right:25%;
     border-radius: 20%;
    /*z-index : 0;        /*default z-index*/
}


/*feature section*/
.feature-section{
    text-align: center;
   /* z-index : 1;*/
    position: relative;
}

.feature-text{
    color: grey;
    padding: 5%;
}

.feature-box{
    padding : 7%;
}

.icon{
    color: #ef8172;
    margin-bottom: 10px;
}

.icon:hover{
    color:#ff4c68;
}


/*testimonials*/
#testimonials{
    
    text-align: center;
    background-color: #ef8172;

}

.testimonial-text{
    padding : 5%;
    line-height: 2;
}

.testimonial-image{
    width : 60px;
    height: 60px;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item{
    padding: 0 7% 7% 7%;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 4%;
}

.press-logo{
    width : 40px;
     height: 40px;
    margin : 20px 20px 50px;
}

/*Pricing*/
#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3%;
}

.pricing-heading{
    font-size: 3rem;
}

.card-title{
    font-size: 20px;
}

@media (max-width:1028px)
{
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}

/*call to action*/

#cta{
    text-align: center;
    padding: 9%;
}

.cta-text{
    padding-bottom: 5%;
    font-weight: bolder;
    font-size: xx-large;
}

.cta-button{
   margin: 0 1%;
}


/*footer*/
#footer{
    text-align: center;
    padding: 5%;
}

.footer-icon{
    margin: 20px 10px;
}

.footer-icon:hover{
    color: #ff4c68;
}
